body {
    background-color: antiquewhite;
}

a{
    
    color: red;
}

.catalog a{
    text-decoration: none;
    
    
    
}

.catalog li{
    list-style: none;
    
    
    
}
.catalog a:hover{
    color:aqua;
    front-size:20px;
    
    
}
.catalog {
    display: flex;
    justify-content: space-between;
    
    
    
}